certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
decorator==4.4.2
ffmpeg==1.4
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
mo==0.3.0
moviepy==1.0.3
numpy==1.19.3
Pillow==8.0.1
proglog==0.1.9
pytube==10.7.2
pytube3==9.6.4
PyYAML==5.3.1
requests==2.25.1
toml==0.10.2
tqdm==4.54.1
typing-extensions==3.7.4.3
urllib3==1.26.2
